
<div class="container">
    <div class="card">
        <div class="card-body">
          Você deve pensar em um numero entre 1 e 1000, e indicar se o numero sugerido é maior ou menor
        </div>
    </div>
    <form>
        <div class="form-row justify-content-md-center">
          <div class="col-8 margem">
            <input #nome="ngModel" [(ngModel)]="jogo.nome"  type="text" class="form-control" placeholder="Name" name="name" required>
          </div>
          <div class="alert alert-danger col-8"   *ngIf="nome.invalid && nome.touched">
            Nome é obrigatorio!
          </div> 
        </div>

        <div class=" centralizar-botoes">
            <button  [disabled]="nome.invalid" type="submit" routerLink="jogo" (click)="jogar()"class="btn btn-primary btn-lg">Jogar</button>
        </div>
    </form>
</div>
